<font color=blue> Привет еще раз. Спасибо, что доделал работу. Мои комментарии на этот раз выделены синим цветом.
    
---

---
## Комментарий от наставника

Привет! Спасибо, что прислал задание:) Поздравляю с первым сданным проектом. В целом, работа производит неплохое впечатление, однако обрати внимание на некоторые мои комментарии. Они обозначены пометкой **Комментарий от наставника**. Пострайся учесть эти комментарии.

---

## Исследование надёжности заёмщиков

Заказчик — кредитный отдел банка. Нужно разобраться, влияет ли семейное положение и количество детей клиента на факт погашения кредита в срок. Входные данные от банка — статистика о платёжеспособности клиентов.

Результаты исследования будут учтены при построении модели **кредитного скоринга** — специальной системы, которая оценивает способность потенциального заёмщика вернуть кредит банку.

Описание данных
- children — количество детей в семье
- days_employed — общий трудовой стаж в днях
- dob_years — возраст клиента в годах
- education — уровень образования клиента
- education_id — идентификатор уровня образования
- family_status — семейное положение
- family_status_id — идентификатор семейного положения
- gender — пол клиента
- income_type — тип занятости
- debt — имел ли задолженность по возврату кредитов
- total_income — ежемесячный доход
- purpose — цель получения кредита

---
## Комментарий от наставника


Правильно, что есть краткое вступление в работу, описание того, что надо делать. В работе необходимо приводить краткий план того, что надо сделать(если этот план имеется), а также информацию о входных данных: какие столбцы есть в таблице, их названия и какую информацию они несут (см. пример). Также название работы лучше отображать в отдельной ячейке и делать крупный шрифт (заголовок). Так работа выглядит презентабельно.

<font color=red> Пример: </font>
---
Описание данных: 
- children — количество детей в семье
- days_employed — общий трудовой стаж в днях
- dob_years — возраст клиента в годах
- education — уровень образования клиента
- education_id — идентификатор уровня образования
- ...
    
    
---

### Шаг 1. Откройте файл с данными и изучите общую информацию.

In [110]:
import pandas as pd
clients = pd.read_csv('/datasets/data.csv')

In [111]:
clients

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
...,...,...,...,...,...,...,...,...,...,...,...,...
21520,1,-4529.316663,43,среднее,1,гражданский брак,1,F,компаньон,0,224791.862382,операции с жильем
21521,0,343937.404131,67,среднее,1,женат / замужем,0,F,пенсионер,0,155999.806512,сделка с автомобилем
21522,1,-2113.346888,38,среднее,1,гражданский брак,1,M,сотрудник,1,89672.561153,недвижимость
21523,3,-3112.481705,38,среднее,1,женат / замужем,0,M,сотрудник,1,244093.050500,на покупку своего автомобиля
21524,2,-1984.507589,40,среднее,1,женат / замужем,0,F,сотрудник,0,82047.418899,на покупку автомобиля

In [112]:
clients.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
children            21525 non-null int64
days_employed       19351 non-null float64
dob_years           21525 non-null int64
education           21525 non-null object
education_id        21525 non-null int64
family_status       21525 non-null object
family_status_id    21525 non-null int64
gender              21525 non-null object
income_type         21525 non-null object
debt                21525 non-null int64
total_income        19351 non-null float64
purpose             21525 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

# Выводы

у датафрейма есть пропуски в столбце days_employed — общий трудовой стаж в днях и total_income — ежемесячный доход (это может быть связано что человек не предоставил оригиналы или заверенные копии трудовой книжки). 
по быстрому просмотру можно сделать выводы days_employed имеет ошибки, т.к. стаж не может быть отрицательным, и быть выше чем продолжительность жизни

---
## Комментарий от наставника

У меня имеется пара комментариев по данному шагу:
- считывание данных и импорт необходимых библиотек лучше проводить в разных ячейках;
- следует давать переменным осознанные имена. Таблица про клиентов - название надо бы выбрать соответствующее;
- Подумай также о возможных причинах появления пропусков, а также о том, являются ли они случайными или нет.

Первый взгляд на таблицу выполнен.

---

### Шаг 2. Предобработка данных

### Обработка пропусков

In [113]:
def fix_days(age):
    return clients[clients['dob_years'] == age]['days_employed'].median()
clients.loc[clients['days_employed'].isnull(), 'days_employed'] = clients.loc[clients['days_employed'].isnull(), 'dob_years'].apply(fix_days)

In [114]:
def fix_income(row):
    education_id = row['education_id']
    income_type = row['income_type']
    mask = (clients['total_income'].notnull()) & (clients['education_id'] == education_id) & (clients['income_type'] == income_type)
    return clients[mask]['total_income'].median()
clients.loc[clients['total_income'].isnull(), 'total_income'] = clients[clients['total_income'].isnull()].apply(fix_income, axis = 1)

In [115]:
clients.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
children            21525 non-null int64
days_employed       21525 non-null float64
dob_years           21525 non-null int64
education           21525 non-null object
education_id        21525 non-null int64
family_status       21525 non-null object
family_status_id    21525 non-null int64
gender              21525 non-null object
income_type         21525 non-null object
debt                21525 non-null int64
total_income        21525 non-null float64
purpose             21525 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

### Вывод

Пропуски в стаже заменим по медиане взятой от возраста

Пропуски в доходе заменим медианой взятой от сочетаниям образования и типа занятости

<font color=blue> Пропуски теперь обработаны верно. Интересный способ реализации заполнения пропусков, молодец. 
    
---

---
## Комментарий от наставника

Лучше использовать заполнение пропусков в соответствии с типом дохода. Тогда пенсионеры будут получать также, как и другие пенсионеры и т.д. Все-таки в данных есть достаточное число групп, заполнять пропуски в стаже, скажем, у студентов и пенсионеров одним и тем же значением не очень то правильно. То же самое касается и столбца с доходами: пропуски у предпринимателя и пенсионера заполняются одним числом, что вызывает вопросы. Подумай, как лучше обработать пропуски.

---

### Замена типа данных

In [116]:
clients.loc[clients['days_employed'] < 0,['days_employed']] = clients.loc[clients['days_employed'] < 0,['days_employed']] * (-1)

Избавились от минусовых значений в стаже

In [117]:
clients['dob_years'].max()

75

In [118]:
max_rab_hour= (75-18)*365
clients.loc[clients['days_employed'] >= max_rab_hour,['days_employed']]  = clients.loc[clients['days_employed'] >= max_rab_hour,['days_employed']] /24

clients.sort_values(by = 'days_employed', ascending=False)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
16335,1,18388.949901,61,среднее,1,женат / замужем,0,F,сотрудник,0,186178.934089,операции с недвижимостью
4299,0,17615.563266,61,среднее,1,женат / замужем,0,F,компаньон,0,122560.741753,покупка жилья
6954,0,16739.808353,56,среднее,1,вдовец / вдова,2,F,пенсионер,0,176278.441171,ремонт жилью
10006,0,16738.158823,69,высшее,0,Не женат / не замужем,4,F,пенсионер,0,57390.256908,получение образования
7664,1,16736.462226,61,среднее,1,женат / замужем,0,F,пенсионер,0,126214.519212,операции с жильем
...,...,...,...,...,...,...,...,...,...,...,...,...
2127,1,34.701045,31,высшее,0,женат / замужем,0,F,компаньон,0,90557.994311,получение образования
9683,0,33.520665,43,среднее,1,Не женат / не замужем,4,M,сотрудник,1,128555.897209,приобретение автомобиля
6157,2,30.195337,47,среднее,1,гражданский брак,1,M,компаньон,0,231461.185606,свадьба
8336,0,24.240695,32,высшее,0,Не женат / не замужем,4,M,сотрудник,0,124115.373655,получение дополнительного образования
17437,1,24.141633,31,среднее,1,женат / замужем,0,F,сотрудник,1,166952.415427,высшее образование

Предположим что весь аномальный возраст эказан в часах и таким образом найдем все значения по условию что максимальный возраст заемщика из дата фрейма отнимаем 18 лет и делим все это значение на 24 тем самым получаем кол-во отработанных дней

In [119]:
clients['days_employed'].max()

18388.949900568383

In [120]:
clients['education']=clients['education'].str.lower()
clients['family_status'] =  clients['family_status'].str.lower()

In [121]:
sover = 365*14
a = clients.loc[clients['days_employed'] +sover  > clients['dob_years']*365]
print(a)

       children  days_employed  dob_years education  education_id  \
18            0   16678.380705         53   среднее             1
98            0   15204.425239         54    высшее             0
99            0   14439.234121          0   среднее             1
149           0    2664.273168          0   среднее             1
157           0   14517.251167         38   среднее             1
...         ...            ...        ...       ...           ...
21313         0    1268.487728          0   среднее             1
21340         2   16558.686086         51    высшее             0
21378         0   16719.031045         59   среднее             1
21433         0   16280.502364         57   среднее             1
21475         0   15217.221094         52   среднее             1

               family_status  family_status_id gender income_type  debt  \
18            вдовец / вдова                 2      F   пенсионер     0
98           женат / замужем                 0      F   пенсионер     0
99           женат / замужем                 0      F   пенсионер     0
149                в разводе                 3      F   сотрудник     0
157          женат / замужем                 0      F   пенсионер     1
...                      ...               ...    ...         ...   ...
21313  не женат / не замужем                 4      M   сотрудник     0
21340        женат / замужем                 0      F   пенсионер     0
21378         вдовец / вдова                 2      F   пенсионер     0
21433       гражданский брак                 1      F   пенсионер     0
21475        женат / замужем                 0      F   пенсионер     1

        total_income                             purpose
18      56823.777243  на покупку подержанного автомобиля
98     199707.298524             покупка жилья для сдачи
99      71291.522491                          автомобиль
149     70176.435951                   операции с жильем
157    113560.650035                сделка с автомобилем
...              ...                                 ...
21313  152419.184851                   операции с жильем
21340  130999.667269               заняться образованием
21378  204103.704870     операции со своей недвижимостью
21433  139742.106467               на проведение свадьбы
21475   48239.310903                     свой автомобиль

[996 rows x 12 columns]

Получаем 996 записей с артефактами, проверка на логику была такая что берем кол-во отработанных дней складываем с  совершеннолетие. Получается кол-во дней которое человек мог отработать если его стаж считать с первого дня   14 летия.

In [122]:
clients = clients[clients['days_employed'] + sover <= clients['dob_years']*365]

In [123]:
clients['children'].value_counts()

 0     13305
 1      4704
 2      2032
 3       323
 20       72
-1        44
 4        40
 5         9
Name: children, dtype: int64

In [124]:
clients.loc[clients['children'] == 20,['children']] = 2
clients.loc[clients['children'] == -1,['children']] = 1

In [125]:
clients['children'].value_counts()

0    13305
1     4748
2     2104
3      323
4       40
5        9
Name: children, dtype: int64

In [126]:
clients['days_employed'] = clients['days_employed'].astype('int64')
clients['total_income'] = clients['total_income'].astype('int64')

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [127]:
clients.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20529 entries, 0 to 21524
Data columns (total 12 columns):
children            20529 non-null int64
days_employed       20529 non-null int64
dob_years           20529 non-null int64
education           20529 non-null object
education_id        20529 non-null int64
family_status       20529 non-null object
family_status_id    20529 non-null int64
gender              20529 non-null object
income_type         20529 non-null object
debt                20529 non-null int64
total_income        20529 non-null int64
purpose             20529 non-null object
dtypes: int64(7), object(5)
memory usage: 2.0+ MB

### Вывод

Мы избавились от пустых значений, выявили артефакты возраст - стаж (то что стаж + 18 летие) не может быть больше  возраста

а так же стаж и доход привели к целочисленному значению

<font color=blue> Тип данных изменен у необходимых столбцов. Все правильно. 
    
---

---
## Комментарий от наставника

Исходя из общей информации о таблице мы видим, что два столбца имеют вещественный тип данных, который и надо заменить на целочисленный. Это замена не произведена. Проведи замены типа для указанных столбцов. Здорово, что исправлены ошибки в данных. 

---

### Обработка дубликатов

In [128]:
clients.duplicated().sum()

71

In [129]:
clients = clients.drop_duplicates().reset_index(drop=True)

### Вывод

Было найдено 71 запись дублирующая от которых мы избавились и можем приступить к лемматизаци

---
## Комментарий от наставника

Дубликаты вызывают смещение финальных результатов, поэтому их и надо удалять. Конечно, в данных нет уникального идентификатора, однако надо уметь удалять дубликаты. Метод drop_duplicates() использован верно.

---

### Лемматизация

In [130]:
from pymystem3 import Mystem
m = Mystem()
purpose_uniq=clients['purpose'].unique()
#print(purpose_uniq)
for element in purpose_uniq:
    try:
        print(m.lemmatize(element))
    except:
        print ('Проверь цель', element)
def purpose_new(purpose):
    words= [
        ['жиль', 'недвижимость'],
        ['недвижимост','недвижимость'],
        ['свадьб','свадьба'],
        ['автомобил','автомобиль'],
        ['образован','образование']
    ]
    for word in words:
        if word[0] in purpose:
            return word[1]

clients['purpose_update']=clients['purpose'].apply(purpose_new)
clients.head(10)

['покупка', ' ', 'жилье', '\n']
['приобретение', ' ', 'автомобиль', '\n']
['дополнительный', ' ', 'образование', '\n']
['сыграть', ' ', 'свадьба', '\n']
['операция', ' ', 'с', ' ', 'жилье', '\n']
['образование', '\n']
['на', ' ', 'проведение', ' ', 'свадьба', '\n']
['покупка', ' ', 'жилье', ' ', 'для', ' ', 'семья', '\n']
['покупка', ' ', 'недвижимость', '\n']
['покупка', ' ', 'коммерческий', ' ', 'недвижимость', '\n']
['покупка', ' ', 'жилой', ' ', 'недвижимость', '\n']
['строительство', ' ', 'собственный', ' ', 'недвижимость', '\n']
['недвижимость', '\n']
['строительство', ' ', 'недвижимость', '\n']
['на', ' ', 'покупка', ' ', 'свой', ' ', 'автомобиль', '\n']
['на', ' ', 'покупка', ' ', 'подержать', ' ', 'автомобиль', '\n']
['операция', ' ', 'с', ' ', 'коммерческий', ' ', 'недвижимость', '\n']
['строительство', ' ', 'жилой', ' ', 'недвижимость', '\n']
['жилье', '\n']
['операция', ' ', 'со', ' ', 'свой', ' ', 'недвижимость', '\n']
['автомобиль', '\n']
['заниматься', ' ', 'образование', '\n']
['сделка', ' ', 'с', ' ', 'подержанный', ' ', 'автомобиль', '\n']
['получение', ' ', 'образование', '\n']
['автомобиль', '\n']
['свадьба', '\n']
['получение', ' ', 'дополнительный', ' ', 'образование', '\n']
['покупка', ' ', 'свой', ' ', 'жилье', '\n']
['операция', ' ', 'с', ' ', 'недвижимость', '\n']
['получение', ' ', 'высокий', ' ', 'образование', '\n']
['свой', ' ', 'автомобиль', '\n']
['сделка', ' ', 'с', ' ', 'автомобиль', '\n']
['профильный', ' ', 'образование', '\n']
['высокий', ' ', 'образование', '\n']
['покупка', ' ', 'жилье', ' ', 'для', ' ', 'сдача', '\n']
['на', ' ', 'покупка', ' ', 'автомобиль', '\n']
['ремонт', ' ', 'жилье', '\n']
['заниматься', ' ', 'высокий', ' ', 'образование', '\n']

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,purpose_update
0,1,8437,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,недвижимость
1,1,4024,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,автомобиль
2,0,5623,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,недвижимость
3,3,4124,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,образование
4,0,14177,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,свадьба
5,0,926,27,высшее,0,гражданский брак,1,M,компаньон,0,255763,покупка жилья,недвижимость
6,0,2879,43,высшее,0,женат / замужем,0,F,компаньон,0,240525,операции с жильем,недвижимость
7,0,152,50,среднее,1,женат / замужем,0,M,сотрудник,0,135823,образование,образование
8,2,6929,35,высшее,0,гражданский брак,1,F,сотрудник,0,95856,на проведение свадьбы,свадьба
9,0,2188,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425,покупка жилья для семьи,недвижимость

### Вывод

 С помощью лемматизации привели цели кредита к 5и общим целям которые встречаются по всему набору данных: Жилье, недвижимость, авто, образование и всё что связано со свадьбой

---
## Комментарий от наставника

Все верно, метод lemmatize() использован правильно. Стоит подробнее объяснить выбор лемм.

---

### Категоризация данных

In [131]:
def ch_group(b):

        if b == 1:
                return 'один'
        if b == 2:
                return 'двое'
        if b >= 3:
                return 'многодетные'
        return 'бездетные'
clients['ch_group'] = clients['children'].apply(ch_group)
print(clients.head(10))

   children  days_employed  dob_years education  education_id  \
0         1           8437         42    высшее             0
1         1           4024         36   среднее             1
2         0           5623         33   среднее             1
3         3           4124         32   среднее             1
4         0          14177         53   среднее             1
5         0            926         27    высшее             0
6         0           2879         43    высшее             0
7         0            152         50   среднее             1
8         2           6929         35    высшее             0
9         0           2188         41   среднее             1

      family_status  family_status_id gender income_type  debt  total_income  \
0   женат / замужем                 0      F   сотрудник     0        253875
1   женат / замужем                 0      F   сотрудник     0        112080
2   женат / замужем                 0      M   сотрудник     0        145885
3   женат / замужем                 0      M   сотрудник     0        267628
4  гражданский брак                 1      F   пенсионер     0        158616
5  гражданский брак                 1      M   компаньон     0        255763
6   женат / замужем                 0      F   компаньон     0        240525
7   женат / замужем                 0      M   сотрудник     0        135823
8  гражданский брак                 1      F   сотрудник     0         95856
9   женат / замужем                 0      M   сотрудник     0        144425

                      purpose purpose_update     ch_group
0               покупка жилья   недвижимость         один
1     приобретение автомобиля     автомобиль         один
2               покупка жилья   недвижимость    бездетные
3  дополнительное образование    образование  многодетные
4             сыграть свадьбу        свадьба    бездетные
5               покупка жилья   недвижимость    бездетные
6           операции с жильем   недвижимость    бездетные
7                 образование    образование    бездетные
8       на проведение свадьбы        свадьба         двое
9     покупка жилья для семьи   недвижимость    бездетные

In [132]:
def purpose_group(tip):
    if tip == 'недвижимость':
        return 'ипотека'
    if tip == 'автомобиль':
        return 'автокредит'
    if tip == 'образование':
        return 'образование'
    return 'свадьба'
clients ['purpose_group']=clients['purpose_update'].apply(purpose_group)
print(clients.head(10))

   children  days_employed  dob_years education  education_id  \
0         1           8437         42    высшее             0
1         1           4024         36   среднее             1
2         0           5623         33   среднее             1
3         3           4124         32   среднее             1
4         0          14177         53   среднее             1
5         0            926         27    высшее             0
6         0           2879         43    высшее             0
7         0            152         50   среднее             1
8         2           6929         35    высшее             0
9         0           2188         41   среднее             1

      family_status  family_status_id gender income_type  debt  total_income  \
0   женат / замужем                 0      F   сотрудник     0        253875
1   женат / замужем                 0      F   сотрудник     0        112080
2   женат / замужем                 0      M   сотрудник     0        145885
3   женат / замужем                 0      M   сотрудник     0        267628
4  гражданский брак                 1      F   пенсионер     0        158616
5  гражданский брак                 1      M   компаньон     0        255763
6   женат / замужем                 0      F   компаньон     0        240525
7   женат / замужем                 0      M   сотрудник     0        135823
8  гражданский брак                 1      F   сотрудник     0         95856
9   женат / замужем                 0      M   сотрудник     0        144425

                      purpose purpose_update     ch_group purpose_group
0               покупка жилья   недвижимость         один       ипотека
1     приобретение автомобиля     автомобиль         один    автокредит
2               покупка жилья   недвижимость    бездетные       ипотека
3  дополнительное образование    образование  многодетные   образование
4             сыграть свадьбу        свадьба    бездетные       свадьба
5               покупка жилья   недвижимость    бездетные       ипотека
6           операции с жильем   недвижимость    бездетные       ипотека
7                 образование    образование    бездетные   образование
8       на проведение свадьбы        свадьба         двое       свадьба
9     покупка жилья для семьи   недвижимость    бездетные       ипотека

In [133]:
clients['income_group']=pd.qcut(clients['total_income'], 5)

### Вывод

При помощи категоризации данных цели кредита привели 4 основным - ипотека, свадьба, образование и автокредит
а так же при помощи квантилии доход разделили на 5 групп

In [135]:
clients.query("purpose_group == 'свадьба'").purpose.unique()

array(['сыграть свадьбу', 'на проведение свадьбы', 'свадьба'],
      dtype=object)

---
## Комментарий от наставника

В лемму "потребительский" кредит входят только расходы на проведение свадьбы. Стоит переименовать ее. 

Категоризовать также надо и столбец с доходами. Это есть ниже, а должно быть в данном разделе. 

---

### Шаг 3. Ответьте на вопросы

- Есть ли зависимость между наличием детей и возвратом кредита в срок?

In [136]:
clients['direction']=clients['debt']
print(clients.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20458 entries, 0 to 20457
Data columns (total 17 columns):
children            20458 non-null int64
days_employed       20458 non-null int64
dob_years           20458 non-null int64
education           20458 non-null object
education_id        20458 non-null int64
family_status       20458 non-null object
family_status_id    20458 non-null int64
gender              20458 non-null object
income_type         20458 non-null object
debt                20458 non-null int64
total_income        20458 non-null int64
purpose             20458 non-null object
purpose_update      20458 non-null object
ch_group            20458 non-null object
purpose_group       20458 non-null object
income_group        20458 non-null category
direction           20458 non-null int64
dtypes: category(1), int64(8), object(8)
memory usage: 2.5+ MB
None

In [141]:
deti_pivot = clients.pivot_table(index='ch_group', columns='debt', values='direction', aggfunc='count', fill_value=0)
deti_pivot['vozvrat'] = deti_pivot[1]/(deti_pivot[0]+deti_pivot[1]) 
deti_pivot = deti_pivot.sort_values(by='vozvrat', ascending = False)
#print ('{:>11} | {:>10} | {:>10} | {:>10}'.format('Наличие детей', 'Возраты', 'Невозвраты', '% невозратов'))
#for row in deti_pivot.iterrows():
    #print('{:>11} | {:>10.0f} | {:>10.0f} | {:>12.1%}'.format(row[0], row[1][0], row[1][1], row[1]['vozvrat']))
deti_pivot

debt             0     1   vozvrat
ch_group
двое          1900   201  0.095669
один          4302   436  0.092022
многодетные    342    30  0.080645
бездетные    12227  1020  0.076999

### Вывод

Заемщики не имеющие детей более отвественно относятся к возврату займа.

In [138]:
deti_pivot

debt             0     1   vozvrat
ch_group
двое          1900   201  0.095669
один          4302   436  0.092022
многодетные    342    30  0.080645
бездетные    12227  1020  0.076999

---
## Комментарий от наставника

Лучше просто вывести таблицу. 

---

- Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [142]:
sm_pivot = clients.pivot_table(index='family_status', columns='debt', values='direction', aggfunc='count', fill_value=0)
sm_pivot['vozvrat'] = sm_pivot[1]/(sm_pivot[0]+sm_pivot[1]) 
sm_pivot = sm_pivot.sort_values(by='vozvrat', ascending = False)
sm_pivot
#print ('{:>20} | {:>10} | {:>10} | {:>10}'.format('Семейное положение', 'Возвраты', 'Невозвраты', '% невозратов'))
#for row in sm_pivot.iterrows():
    #print('{:>20} | {:>10.0f} | {:>10.0f} | {:>12.1%}'.format(row[0], row[1][0], row[1][1], row[1]['vozvrat']))

debt                       0    1   vozvrat
family_status
не женат / не замужем   2441  271  0.099926
гражданский брак        3589  374  0.094373
женат / замужем        10866  903  0.076727
в разводе               1053   83  0.073063
вдовец / вдова           822   56  0.063781

### Вывод

Наблюдается прямая корреляция семейного положения и возврата кредита: люди не имеющие официально зарегистрированного брака, в большей степени склонны не возвращать займ

---
## Комментарий от наставника

Вывод не противоречит полученному результату. 

---

- Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [143]:
dh_pivot = clients.pivot_table(index='income_group', columns='debt', values='direction', aggfunc='count', fill_value=0)
dh_pivot['vozvrat'] = dh_pivot[1]/(dh_pivot[0]+dh_pivot[1]) 
dh_pivot = dh_pivot.sort_values(by='vozvrat', ascending = False)
dh_pivot
#print ('{:>20} | {:>10} | {:>10} | {:>10}'.format('Уровень дохода', 'Возвраты', 'Невозвраты', '% невозратов'))
#for row in dh_pivot.iterrows():
    #print('{} | {:>10.0f} | {:>10.0f} | {:>12.1%}'.format(row[0], row[1][0], row[1][1], row[1]['vozvrat']))

debt                      0    1   vozvrat
income_group
(133621.8, 162087.6]   3718  374  0.091398
(99509.4, 133621.8]    3746  345  0.084331
(20666.999, 99509.4]   3752  340  0.083089
(162087.6, 215440.8]   3753  338  0.082620
(215440.8, 2265604.0]  3802  290  0.070870

### Вывод

 Люди с наибольшим доходом и наименьшим более склонны к возврату кредита в срок, а вот люди со средним и миниальным доходом наоборт

---
## Комментарий от наставника

Верный способ категоризации с помощью квантилей данного столбца. Так группы получаются равного размера. Выводы будут надежными. 

---

- Как разные цели кредита влияют на его возврат в срок?

In [144]:
purpose_pivot = clients.pivot_table(index='purpose_group', columns='debt', values='direction', aggfunc='count', fill_value=0)
purpose_pivot['vozvrat'] = purpose_pivot[1]/(purpose_pivot[0]+purpose_pivot[1]) 
purpose_pivot = purpose_pivot.sort_values(by='vozvrat', ascending = False)
purpose_pivot
#print ('{:>20} | {:>10} | {:>10} | {:>10}'.format('Цель кредита', 'Возвраты', 'Невозвраты', '% невозратов'))
#for row in purpose_pivot.iterrows():
    #print('{:>20} | {:>10.0f} | {:>10.0f} | {:>12.1%}'.format(row[0], row[1][0], row[1][1], row[1]['vozvrat']))

debt              0    1   vozvrat
purpose_group
автокредит     3738  390  0.094477
образование    3467  361  0.094305
свадьба        2033  177  0.080090
ипотека        9533  759  0.073747

### Вывод

Люди берующиие ипотеку возвращают займы чаще, чем люди берующие займ на авто и образование.

---
## Комментарий от наставника

Здорово, что при анализе использован метод сводных таблиц. Он пригодится в дальнейших проектах.

Выводы верные по всем пунктам. 

---

### Шаг 4. Общий вывод

В ходе работы мы избавились от пропусков в стаже работы заменив его на медиану стажа людей аналогичного возраста
а так же пропуски в доходе были изменены на медиану взятой от сочетаниям образования и типа занятости.
Были удалены записи которые были казались абсурдными к примеру общий стаж + совершеннолетие больше чем возраст заемщика, очевидно что записи с ошибками.

была сделана категоризация данных, а так же сделаны квантилии по уровню дохода.

В ходе работы была выявлена тенденция что наиболее благоприятная группа для выдачи кредита это: люди когда-либо состоявшие в официальном браке, не имеющие детей, и целью кредита которых является ипотека.

А так же группа людей которые чаще всего не возвращают кредит это люди берующие автокредиты, не женатые и имеющие двоих детей)

Для получения итоговых данных использовал метод сводных таблиц

<font color=blue> Выводы стали лучше. Приведены ответы на главные вопросы проекта. Также здорово, что описано то, что было сделано в работе. 
    
---

---
## Комментарий от наставника

Финальный вывод и есть главный результат твоей работы. Стоит писать его подробно по результатам проведенной работы. В нем можно приводить полученные в ходе работы значения. Также можно расписать все, что было сделано в работе.

---

<font color=blue> Помарки исправлены, и теперь работа выполнена хорошо. Успехов в дальнейших проектах :)
    
---

## Комментарий от наставника

- В начале работы следует описывать данные, с которыми работаешь;
- Используй альтернативный способ обработки пропусков;
- Тип данных надо изменить у столбцов со стажем и с доходами;
- Финальный вывод стоит писать подробно.

Ты проделал большую работу, молодец! Исправь отмеченные тут замечания, и получится очень достойная работа :)

-----

# Чек-лист готовности проекта

Поставьте 'x' в выполненных пунктах. Далее нажмите Shift+Enter.